<ng-template #statsTpl>
  <div class="stats-tooltip p-2 bg-white rounded shadow">
    <div *ngFor="let key of statKeys" class="mb-1">
      <span [style.color]="getStatColor(key)">
        {{ labels[key] }}: {{ getStatValue(key) }}
        <ng-container *ngIf="getStatStage(key) !== 0">
          ({{ getStatStage(key) > 0 ? '+' : '' }}{{ getStatStage(key) }})
        </ng-container>
      </span>
    </div>
    <div *ngIf="character?.activeEffects?.length" class="mt-2">
      <strong>Efectos:</strong>
      <div *ngFor="let eff of character?.activeEffects || []">
        <span>
          {{ labels[eff.effect.stat!] }}:
          {{ eff.effect.value > 0 ? '+' : '' }}{{ eff.effect.value }}
          ({{ formatDuration(eff.remainingDuration) }} turnos)
        </span>
      </div>
    </div>
  </div>
</ng-template>

<div
  *ngIf="character"
  class="character-box p-3 border rounded position-relative"
  [class.selectable]="selectable"
  (click)="onClick()"


  ngxTooltip


  [template]="statsTpl"

  placement="top"
  arrow
  [autoUpdate]="true"
>
  <div class="fw-bold d-flex align-items-center justify-content-center gap-1">
    {{ character.name }}
    <mat-chip
      *ngIf="character.status"
      [ngStyle]="{ 'background-color': getStatusColor(character.status) }"
      class="text-white"
      size="small"
    >
      {{ statusLabels[character.status] }}
    </mat-chip>
  </div>
  <!-- <div class="mb-1">
    <mat-chip
      *ngFor="let t of character.types"
      class="me-1 text-white"
      [style.backgroundColor]="t.color"
    >
      {{ t.name }}
    </mat-chip>
  </div> -->

  <div class="progress mt-2" style="height: 8px;">
    <div
      class="progress-bar"
      role="progressbar"
      [style.width.%]="healthPercent"
      [attr.aria-valuenow]="character.currentHealth"
      [attr.aria-valuemin]="0"
      [attr.aria-valuemax]="character.stats.health"
    ></div>
  </div>

  <small class="text-muted">
    {{ character.currentHealth }} / {{ character.stats.health }}
  </small>
</div>
