<div class="container">
  <h2 class="mb-3">Combate - Sala {{ roomId }}</h2>
 
  <div class="row g-2 h-100">
    <div class="col-12 offset-1 d-flex align-items-center justify-content-center"
      style="height: 25%;"
    >
      <div class="turn-order d-flex position-relative" *ngIf="room$ | async as room">
        <ng-container *ngIf="turn$ | async as turn">
          <div class="turn-item border rounded position-relative" *ngFor="let t of room.turnOrder"
               [ngClass]="isMyPlayer(t.playerId) ? 'border-primary' : 'border-danger'">
            {{ getCharacterName(room, t.playerId, t.characterIndex) }}
            <span class="arrow" *ngIf="turn.playerId === t.playerId && turn.characterIndex === t.characterIndex">&#9660;</span>
          </div>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="room$ | async as room">
      <ng-container *ngFor="let i of rows">
        <div
          class="col-3 offset-1 d-flex align-items-center justify-content-center"
          style="height: 25%;"
        >
          <app-character-box
            *ngIf="getMyCharacters(room)[i]"
            [character]="getMyCharacters(room)[i]"
          ></app-character-box>
        </div>
        <div
          class="col-3 offset-4 d-flex align-items-center justify-content-center"
          style="height: 25%;"
        >
          <app-character-box
            *ngIf="getOpponentCharacters(room)[i]"
            [character]="getOpponentCharacters(room)[i]"
          ></app-character-box>
        </div>
      </ng-container>
    </ng-container>
  </div> <!-- /row -->

  <ng-container *ngIf="room$ | async as room">
    <p *ngIf="room.status === 'waiting'">
      Esperando a otro jugador...
    </p>
    <p *ngIf="room.status === 'character_selection'">
      Esperando que los jugadores estén listos...
    </p>
  </ng-container>

  <button class="btn btn-secondary mt-3" (click)="leave()">
    Salir
  </button>
</div>
