<div class="container">
  @if(room$ |async; as room){
  <h2 class="mb-3">Combate - Sala {{ room.name }} - {{room.players[0].username}} vs {{room.players[1].username}}</h2>
 
  <div class="row g-2 h-100">
    <div
      class="col-12 offset-1 d-flex align-items-center justify-content-center"
      style="height: 25%"
    >
      <div
        class="turn-order d-flex position-relative"
        
      >
        <ng-container *ngIf="turn$ | async as turn">
          <div
            class="turn-item border rounded position-relative"
            *ngFor="let t of room.turnOrder"
            [ngClass]="
              isMyPlayer(t.playerId) ? 'border-primary' : 'border-danger'
            "
          >
            {{ getCharacterName(room, t.playerId, t.characterIndex) }}
            <span
              class="arrow"
              *ngIf="
                turn.playerId === t.playerId &&
                turn.characterIndex === t.characterIndex
              "
              >&#9660;</span
            >
          </div>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="room$ | async as room">
      <ng-container *ngFor="let i of rows">
        <div
          class="col-3 offset-1 d-flex align-items-center justify-content-center"
          style="height: 25%"
        >
          <app-character-box
            *ngIf="getMyCharacters(room)[i]"
            [character]="getMyCharacters(room)[i]"
          ></app-character-box>
        </div>
        <div
          class="col-3 offset-4 d-flex align-items-center justify-content-center"
          style="height: 25%"
        >
          <app-character-box
            *ngIf="getOpponentCharacters(room)[i]"
            [character]="getOpponentCharacters(room)[i]"
          ></app-character-box>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <!-- /row -->

  @if (room$ | async; as room) { @if (isMyTurn(room)) {
  <div class="row row-cols-2 g-2 mt-3">
    @for (ability of getCurrentCharacterAbilities(room); track $index) {
    <div class="col">
      <div class="card h-100 skill">
        <div
          class="card-body d-flex flex-column align-items-center justify-content-center text-center"
        >
          <!-- Nombre arriba -->
          <div class="fw-bold">
            {{ ability.name }}
          </div>
          <!-- Descripción abajo con un pequeño margen -->
          <small class="mt-1"> {{ ability.description }} de energía </small>
        </div>
      </div>
    </div>
    }
  </div>
  }@else{
  <div class="row row-cols-2 g-2 mt-3">
    <div class="col-12">
      <div class="card h-100 w-100">
        <div
          class="card-body d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="fw-bold">Espera tu turno</div>
          <small class="mt-1">Tu oponente está jugando...</small>
        </div>
      </div>
    </div>
  </div>
  } }
  <ng-container *ngIf="room$ | async as room">
    <p *ngIf="room.status === 'waiting'">Esperando a otro jugador...</p>
    <p *ngIf="room.status === 'character_selection'">
      Esperando que los jugadores estén listos...
    </p>
  </ng-container>

  <app-chat class="mt-3"></app-chat>

  <button class="btn btn-outline-danger mt-3 w-100" (click)="leave()">
    Rendirse
  </button>
   }
</div>
