<mat-accordion>
  <mat-expansion-panel *ngFor="let ab of abilities" hideToggle>
    <mat-expansion-panel-header class="align-items-center gap-2">
      <button
          class="btn btn-outline-primary btn-sm  "
          style="margin-right: 20px;"
          (click)="toggleAbility(ab.id); $event.stopPropagation()"
        >
          {{ selectedIds.includes(ab.id) ? "Quitar" : "Añadir" }}
        </button>
      <img
        [src]="ab.img ? serverUrl + ab.img : 'https://placehold.co/40x40/png'"
        alt="icon"
        width="40"
        height="40"
      />
      <mat-panel-title
        class="flex-grow-1 d-flex align-items-center gap-1 text-truncate"
        style="min-width: 0"
      >
        {{ ab.name }}
        <!-- <mat-chip color="warn" selected *ngIf="ab.unique">Única</mat-chip> -->
        @if (ab.unique) {
          <app-unique-tag></app-unique-tag>
        }
        <mat-chip
          *ngIf="ab.type"
          selected
          [style.backgroundColor]="types.getColor(ab.type)"
        >
          {{ ab.type }}
        </mat-chip>
        <mat-chip
          selected
          [style.backgroundColor]="getCategoryColor(ab.category)"
        >
          {{ getCategoryLabel(ab.category) }}
        </mat-chip>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      {{ ab.description }}
    </p>
    <ul>
      <li *ngFor="let effect of ab.effects">{{ formatEffect(effect) }}</li>
    </ul>
    <div *ngIf="ab.extraEffects?.length">
      <strong>Efectos extra:</strong>
      <ul>
        <li *ngFor="let effect of ab.extraEffects">{{ formatEffect(effect) }}</li>
      </ul>
    </div>
  </mat-expansion-panel>
</mat-accordion>
